.products {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.products img {
    width: 100%;
}

.products li {
    margin-top: 5px;
}

.products h1 {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

@media screen and (min-width: 750px) {
    .products {
        grid-template-columns: 1fr 1fr;
        display: grid;
        margin: 0 20px;
    }
}