.previous-arrow, .next-arrow {
    position: absolute;
    display: none;
    z-index: 1;
    background: #00000088 no-repeat;
    border-radius: 5px;
    padding: 8px 20px 12px 20px;
    color: white;
    font-size: 30px;
    height: 35px;
    line-height: 35px;
    font-family: sans-serif;
    cursor: pointer;
}

.previous-arrow::before {
    content: "<";
}

.next-arrow::before {
    content: ">";
}

@media screen and (min-width: 450px) {

    .previous-arrow,
    .next-arrow {
        display: inline-block;
    }

    .previous-arrow {
        left: 10px;
        top: 200px;
    }

    .next-arrow {
        right: 10px;
        top: 200px;
    }
}