:root {
    --primary-color: black;
    --secondary-color: white;
}

/*
 * resets
 */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

/*
 * common styles
 */

span.share-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.share-text {
    display: flex;
    align-items: center;
}

nav {
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 30px;
    color: var(--secondary-color);
    border-bottom: 1px dashed #FFFFFF;
}

nav > * {
    padding: 8px 10px;
    border-radius: 3px;
    flex: 1 auto auto;
    margin: 5px 10px;
}

nav .active {
    display: inline-block;
    background: #96ca2d;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav a:link {
    background: unset;
}

nav a:hover,
nav a:focus {
    background: #96ca2d;
}

h1 {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
}

h1 + p {
    margin: 0.6rem 0 0 0;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
}

p {
    text-indent: 10px;
    margin: 0 10px;
}

section + p:first-of-type {
    margin: 30px 10px 0;
}

a[href^='tel'] {
    text-decoration: none;
}

a[href^='tel']::before {
    content: '📞 ';
}

section + section {
    margin-block-start: 1.3em;
}